
.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/paper.jpg);
    opacity: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    filter: brightness(50%);
}

input {
    padding: 0;
    margin: 0px 5px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "stats dropdowns finish";
    height: 90vh;
    margin-top: 50px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.stats {
    color: white;
    text-transform: capitalize;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "stat-1"
        "stat-2"
        "stat-3"
        "stat-4"
        "stat-5"
        "stat-6";
    grid-area: stats;
}

.stats button {
    color: white;
    background-color: #0D1B2A;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.stats button:hover {
    background-color: #415A77;
    box-shadow: inset 0 0 10px #000000;
}

.stats button:disabled {
    visibility: hidden;
}

.stats-modifier {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.stats-modifier-value {
    background-color: white;
    color: black;
    font-size: small;
    align-content: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

.stat-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "stats modifier";
    grid-area: stat-1;
    justify-items: center;
}

.stat-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "stats modifier";
    grid-area: stat-2;
    justify-items: center;
}

.stat-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "stats modifier";
    grid-area: stat-3;
    justify-items: center;
}

.stat-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "stats modifier";
    grid-area: stat-4;
    justify-items: center;
}

.stat-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "stats modifier";
    grid-area: stat-5;
    justify-items: center;
}

.stat-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "stats modifier";
    grid-area: stat-6;
    justify-items: center;
}

.dropdowns {
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "dropdowns-name"
        "dropdowns-race"
        "dropdowns-class";
    grid-area: dropdowns;
    height: 100%;
    align-items: center;
}

.dropdowns select {
    width: 200px;
    text-align: center;
    border-radius: 25px;
    height: 25px;
}

.dropdowns input {
    text-align: center;
    border-radius: 25px;
    height: 25px;
    width: 200px;
}

.dropdowns-name {
    grid-area: dropdowns-name;
}

.dropdowns-race {
    grid-area: dropdowns-race;
}

.dropdowns-class {
    grid-area: dropdowns-class;
}

.finish {
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "finish-remaining"
        "finish-button";
    grid-area: finish;
    align-items: center;
}

.finish-remaining {
    font-size: large;
    grid-area: finish-remaining;
}

.finish-button {
    grid-area: finish-button;
}

.finish-button button {
    all: unset;
    font-size: large;
    border-radius: 5px;
    background-color: #0D1B2A;
    border: none;
    display: flex;
    height: 50px;
    width: 200px;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center;
}

.finish-button button:hover {
    background-color: #415A77;
    box-shadow: inset 0 0 10px #000000;
}

.finish-button button:disabled {
    background-color: #3f4041;
}