<div class="background">
  <div class="main">
    <h1>This is DnDnD</h1>
    <h2>Welcome to Your Next Epic Adventure!</h2>
    <p>Step into a world filled with endless possibilities, where every decision shapes your journey. The first step is
      creating your hero. Choose from a variety of races, classes, and unique abilities that will define your
      character’s strengths and weaknesses. Whether you seek glory in battle, mastery in magic, or stealth in shadows,
      the path is yours to forge. Ready to begin? Let's create your character and embark on an unforgettable quest!</p>
    <app-button [routerLink]="['character']" type="a" width="350px" text="Proceed to character creation" />
  </div>
</div>